@model Model.EF.SEED

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Farmer/Views/Shared/_Layouts.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SEED</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name_Seed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_Seed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code_Seed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code_Seed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Deleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Seed }) |
    @Html.ActionLink("Back to List", "Index")
</p>
