@model Model.EF.TRANSACTION_ORDER

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Farmer/Views/Shared/_Layouts.cshtml";
}

<head>
    <title>Details Transaction Order</title>
</head>

<!-- Start Client Testimonial section -->
<section id="mu-client-testimonial">
    <div class="mu-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-client-testimonial-area">
                        <div class="mu-title">
                            <span class="mu-subtitle">Lịch Sử</span>
                            <h2>THÔNG TIN CHI TIẾT</h2>
                            <i class="fa fa-spoon"></i>
                            <span class="mu-title-bar"></span>
                        </div>
                        <!-- testimonial content -->
                        <div class="mu-testimonial-content">
                            <!-- testimonial slider -->
                            <ul class="mu-testimonial-slider">
                                <li>
                                    <div class="mu-testimonial-single">
                                        <div class="mu-testimonial-bio">
                                            <p>Tên Trang Trại: @Model.PRODUCT_DETAIL.FARM.Name_Farm</p>
                                            <br />
                                            <p>Tên Nông Sản: @Model.PRODUCT_DETAIL.PRODUCT.Name_Product</p>
                                            <br />
                                            <p>Tên Thương Lái: @Model.PURCHASE_OFFER_DETAIL.PURCHASE_OFFER.TRADER.Name_Trader</p>
                                            <br />
                                            <p>Ngày Giao Dịch: @Model.Transaction_Date</p>
                                            <br />
                                            <p>Khối Lượng Giao Dịch: @Model.Transaction_Mass @Model.Transaction_Unitmass</p>
                                            <br />
                                            <p>Giá: @Model.Transaction_Price$</p>
                                            <br />
                                            <p>Tổng Tiền Đơn Hàng: @Model.Transaction_TotalMoney</p>
                                            <br />
                                            <p>Tình Trạng: <span class="label label-success">Giao Dịch Thành Công</span></p>
                                            <br />
                                        </div>
                                        <div class="mu-testimonial-bio">
                                            <p> - @Model.PRODUCT_DETAIL.FARM.FARMER.Name_Farmer - </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <center>
            <button type="button" onclick="history.go(-1)" class="mu-readmore-btn">Quay Về</button>
        </center>
    </div>
</section>
<!-- End Client Testimonial section -->
