@model IEnumerable<Model.EF.TRANSACTION_ORDER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Farmer/Views/Shared/_Layouts.cshtml";
}

<head>
    <title>Index Transaction Order</title>

    <style>
        table, thead, tr, tbody, th, td {
            text-align: center;
        }
    </style>

</head>

<!-- Start About us -->
<section id="mu-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-about-us-area">
                    <div class="mu-title">
                        <span class="mu-subtitle">Lịch Sử Giao Dịch</span>
                        <h2>GIAO DỊCH CỦA TÔI</h2>
                        <i class="fa fa-spoon"></i>
                        <span class="mu-title-bar"></span>
                    </div>
                    <div class="row">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Tên nông trại</th>
                                    <th>Tên Nông Sản</th>
                                    <th>Tên Thương Lái</th>
                                    <th>Khối Lượng</th>
                                    <th>Giá</th>
                                    <th>Chức Năng</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.PRODUCT_DETAIL.FARM.Name_Farm)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PRODUCT_DETAIL.PRODUCT.Name_Product)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PURCHASE_OFFER_DETAIL.PURCHASE_OFFER.TRADER.Name_Trader)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Transaction_Mass)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Transaction_TotalMoney)</td>
                                        <td>
                                            @Html.ActionLink("Xem Chi Tiết", "Details", new { id = item.Id_TransactionOrder })
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About us -->
