@model Model.EF.USER_AUTHENTICATION

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    Thêm mới người dùng
}
<style>
    .panel {
        border: 1px solid #ffffff;
        /*background: rgba(0,0,0,0.5);*/
        padding: 30px 40px;
        margin-top: 20vh;
        box-shadow: 0px 3px 20px 6px rgba(0,0,0,0.5);
    }

    .panel-default > .panel-heading {
        background-color: grey;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                Nhập thông tin người dùng
            </div>
            </br>
            <div class="pane-body">
                <div class="row">
                    <div class="col-lg-6">

                        @using (Html.BeginForm("Create", "User", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_User, htmlAttributes: new { @class = "control-label col-md-3" })

                                @Html.TextBoxFor(model => model.Name_User, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name_User, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Password_User, htmlAttributes: new { @class = "control-label col-md-3" })

                                @Html.PasswordFor(model => model.Password_User, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password_User, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.USER_KIND, htmlAttributes: new { @class = "control-label col-md-3" })

                                @Html.TextBoxFor(model => model.USER_KIND, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.USER_KIND, "", new { @class = "text-danger" })

                            </div>
                            

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Xác Nhận" class="btn btn-primary" />
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
